Data Mining Project

In [ ]:
import pandas as pd

# Passo 1: Carregar o conjunto de dados
dataset = pd.read_csv("XYZ_sports_dataset.csv", delimiter=';')

dataset

,ID,Age,Gender,Income,EnrollmentStart,EnrollmentFinish,LastPeriodStart,LastPeriodFinish,DateLastVisit,DaysWithoutFrequency,...,OtherActivities,NumberOfFrequencies,AttendedClasses,AllowedWeeklyVisitsBySLA,AllowedNumberOfVisitsBySLA,RealNumberOfVisits,NumberOfRenewals,HasReferences,NumberOfReferences,Dropout
0,10000,60,Female,5500.0,2019-09-03,2019-10-31,2019-07-01,2019-12-31,2019-10-30,1,...,0.0,9.0,7,NaN,6.28,2,0,0.0,0,0
1,10001,29,Female,2630.0,2014-08-12,2015-09-14,2015-01-01,2015-12-31,2015-07-16,60,...,0.0,23.0,1,2.0,17.42,1,2,0.0,0,1
2,10002,23,Male,1980.0,2017-05-02,2017-06-01,2017-01-01,2017-06-30,2017-05-25,7,...,0.0,6.0,0,7.0,30.03,6,0,0.0,0,1
3,10003,9,Male,0.0,2018-09-05,2019-02-12,2018-07-01,2019-06-30,2019-01-21,22,...,0.0,20.0,2,2.0,17.72,3,0,0.0,0,1
4,10004,35,Male,4320.0,2016-04-20,2018-06-07,2018-01-01,2018-06-30,2017-11-09,210,...,NaN,41.0,0,7.0,60.97,0,3,0.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14937,24937,14,Male,0.0,2016-09-08,2016-09-08,2019-07-01,2019-12-31,2019-10-29,2,...,0.0,112.0,96,4.0,34.84,8,3,0.0,0,0
14938,24938,39,Male,NaN,2015-09-17,2016-06-04,2016-01-01,2016-06-30,2016-04-27,38,...,0.0,57.0,0,7.0,60.97,3,0,0.0,0,1
14939,24939,20,Male,1810.0,2017-03-01,2017-03-31,2017-01-01,2017-06-30,2017-03-29,2,...,0.0,6.0,0,7.0,30.03,8,0,0.0,0,1
14940,24940,55,Male,4800.0,2018-03-01,2018-03-01,2019-07-01,2019-12-31,2019-10-28,3,...,0.0,185.0,155,3.0,15.87,7,2,0.0,0,0
14941,24941,32,Female,3700.0,2016-04-01,2019-06-11,2019-01-01,2019-06-30,2019-05-28,14,...,0.0,169.0,1,7.0,60.97,13,4,0.0,0,1

In [ ]:
# Passo 2: Análise exploratória dos dados
# Visualizar as primeiras linhas do conjunto de dados
print(dataset.head())

      ID  Age  Gender  Income EnrollmentStart EnrollmentFinish  \
0  10000   60  Female  5500.0      2019-09-03       2019-10-31
1  10001   29  Female  2630.0      2014-08-12       2015-09-14
2  10002   23    Male  1980.0      2017-05-02       2017-06-01
3  10003    9    Male     0.0      2018-09-05       2019-02-12
4  10004   35    Male  4320.0      2016-04-20       2018-06-07

  LastPeriodStart LastPeriodFinish DateLastVisit  DaysWithoutFrequency  ...  \
0      2019-07-01       2019-12-31    2019-10-30                     1  ...
1      2015-01-01       2015-12-31    2015-07-16                    60  ...
2      2017-01-01       2017-06-30    2017-05-25                     7  ...
3      2018-07-01       2019-06-30    2019-01-21                    22  ...
4      2018-01-01       2018-06-30    2017-11-09                   210  ...

   OtherActivities  NumberOfFrequencies  AttendedClasses  \
0              0.0                  9.0                7
1              0.0                 23.0                1
2              0.0                  6.0                0
3              0.0                 20.0                2
4              NaN                 41.0                0

   AllowedWeeklyVisitsBySLA  AllowedNumberOfVisitsBySLA  RealNumberOfVisits  \
0                       NaN                        6.28                   2
1                       2.0                       17.42                   1
2                       7.0                       30.03                   6
3                       2.0                       17.72                   3
4                       7.0                       60.97                   0

   NumberOfRenewals  HasReferences  NumberOfReferences  Dropout
0                 0            0.0                   0        0
1                 2            0.0                   0        1
2                 0            0.0                   0        1
3                 0            0.0                   0        1
4                 3            0.0                   0        1

[5 rows x 31 columns]

In [ ]:
# Informações gerais sobre o conjunto de dados
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14942 entries, 0 to 14941
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          14942 non-null  int64
 1   Age                         14942 non-null  int64
 2   Gender                      14942 non-null  object
 3   Income                      14447 non-null  float64
 4   EnrollmentStart             14942 non-null  object
 5   EnrollmentFinish            14942 non-null  object
 6   LastPeriodStart             14942 non-null  object
 7   LastPeriodFinish            14942 non-null  object
 8   DateLastVisit               14942 non-null  object
 9   DaysWithoutFrequency        14942 non-null  int64
 10  LifetimeValue               14942 non-null  float64
 11  UseByTime                   14942 non-null  int64
 12  AthleticsActivities         14906 non-null  float64
 13  WaterActivities             14905 non-null  float64
 14  FitnessActivities           14907 non-null  float64
 15  DanceActivities             14906 non-null  float64
 16  TeamActivities              14907 non-null  float64
 17  RacketActivities            14905 non-null  float64
 18  CombatActivities            14909 non-null  float64
 19  NatureActivities            14895 non-null  float64
 20  SpecialActivities           14898 non-null  float64
 21  OtherActivities             14907 non-null  float64
 22  NumberOfFrequencies         14916 non-null  float64
 23  AttendedClasses             14942 non-null  int64
 24  AllowedWeeklyVisitsBySLA    14407 non-null  float64
 25  AllowedNumberOfVisitsBySLA  14942 non-null  float64
 26  RealNumberOfVisits          14942 non-null  int64
 27  NumberOfRenewals            14942 non-null  int64
 28  HasReferences               14930 non-null  float64
 29  NumberOfReferences          14942 non-null  int64
 30  Dropout                     14942 non-null  int64
dtypes: float64(16), int64(9), object(6)
memory usage: 3.5+ MB
None

In [ ]:
# Estatísticas descritivas das variáveis numéricas
print(dataset.describe())

                 ID           Age        Income  DaysWithoutFrequency  \
count  14942.000000  14942.000000  14447.000000          14942.000000
mean   17470.500000     26.015794   2230.816086             81.224936
std     4313.528196     14.156582   1566.527734            144.199576
min    10000.000000      0.000000      0.000000              0.000000
25%    13735.250000     19.000000   1470.000000             13.000000
50%    17470.500000     23.000000   1990.000000             41.000000
75%    21205.750000     31.000000   2790.000000             83.750000
max    24941.000000     87.000000  10890.000000           1745.000000

       LifetimeValue     UseByTime  AthleticsActivities  WaterActivities  \
count   14942.000000  14942.000000          14906.00000     14905.000000
mean      302.561871      0.047116              0.00738         0.296209
std       364.319566      0.211893              0.08559         0.456600
min         0.000000      0.000000              0.00000         0.000000
25%        83.600000      0.000000              0.00000         0.000000
50%       166.200000      0.000000              0.00000         0.000000
75%       355.075000      0.000000              0.00000         1.000000
max      6727.800000      1.000000              1.00000         1.000000

       FitnessActivities  DanceActivities  ...  OtherActivities  \
count       14907.000000          14906.0  ...     14907.000000
mean            0.576038              0.0  ...         0.001878
std             0.494201              0.0  ...         0.043300
min             0.000000              0.0  ...         0.000000
25%             0.000000              0.0  ...         0.000000
50%             1.000000              0.0  ...         0.000000
75%             1.000000              0.0  ...         0.000000
max             1.000000              0.0  ...         1.000000

       NumberOfFrequencies  AttendedClasses  AllowedWeeklyVisitsBySLA  \
count         14916.000000     14942.000000              14407.000000
mean             40.120542        10.152456                  5.759561
std              65.466459        29.154202                  2.118867
min               1.000000         0.000000                  1.000000
25%               7.000000         0.000000                  4.000000
50%              18.000000         0.000000                  7.000000
75%              45.000000         3.000000                  7.000000
max            1031.000000       581.000000                  7.000000

       AllowedNumberOfVisitsBySLA  RealNumberOfVisits  NumberOfRenewals  \
count                14942.000000        14942.000000      14942.000000
mean                    41.636299            5.320707          1.205260
std                     21.066166            6.332958          1.381305
min                      0.560000            0.000000          0.000000
25%                     25.720000            1.000000          0.000000
50%                     38.990000            4.000000          1.000000
75%                     60.970000            7.000000          2.000000
max                    240.030000           84.000000          6.000000

       HasReferences  NumberOfReferences       Dropout
count   14930.000000        14942.000000  14942.000000
mean        0.019893            0.022286      0.800964
std         0.139637            0.166777      0.399289
min         0.000000            0.000000      0.000000
25%         0.000000            0.000000      1.000000
50%         0.000000            0.000000      1.000000
75%         0.000000            0.000000      1.000000
max         1.000000            3.000000      1.000000

[8 rows x 25 columns]

In [ ]:
# Verificar valores ausentes
print(dataset.isnull().sum())

ID                              0
Age                             0
Gender                          0
Income                        495
EnrollmentStart                 0
EnrollmentFinish                0
LastPeriodStart                 0
LastPeriodFinish                0
DateLastVisit                   0
DaysWithoutFrequency            0
LifetimeValue                   0
UseByTime                       0
AthleticsActivities            36
WaterActivities                37
FitnessActivities              35
DanceActivities                36
TeamActivities                 35
RacketActivities               37
CombatActivities               33
NatureActivities               47
SpecialActivities              44
OtherActivities                35
NumberOfFrequencies            26
AttendedClasses                 0
AllowedWeeklyVisitsBySLA      535
AllowedNumberOfVisitsBySLA      0
RealNumberOfVisits              0
NumberOfRenewals                0
HasReferences                  12
NumberOfReferences              0
Dropout                         0
dtype: int64

In [ ]:
# Contagem de valores únicos nas variáveis categóricas
print(dataset['Gender'].value_counts())

Female    8931
Male      6011
Name: Gender, dtype: int64

In [ ]:
# Calcula a média dos valores na coluna 'Income' que sejam maiores que 0
mean_income = dataset[dataset['Income'] > 0]['Income'].mean()

# Cria uma nova coluna 'Income_filled' com os valores preenchidos
dataset['Income_filled'] = dataset['Income'].fillna(mean_income)

In [ ]:
mean_filled_income = dataset['Income_filled'].mean()
print("Média da coluna 'Income_filled':", mean_filled_income)

Média da coluna 'Income_filled': 2243.5469697370568

In [ ]:
# Calcula a média de todos os valores na coluna 'Income'
mean_all_income = dataset['Income'].mean()

# Cria uma nova coluna 'Income_filled_all' com os valores substituídos
dataset['Income_filled_all'] = dataset['Income'].fillna(mean_all_income)

mean_filled_income2 = dataset['Income_filled_all'].mean()
print("Média da coluna 'Income_filled_all':", mean_filled_income2)

Média da coluna 'Income_filled_all': 2230.8160863847165

In [ ]:
# Conta quantos valores na coluna 'Income' são iguais a 0
zero_income_count = (dataset['Income'] == 0).sum()

print("Número de valores iguais a 0 na coluna 'Income':", zero_income_count)

Número de valores iguais a 0 na coluna 'Income': 2123

In [ ]:
# Conta quantos valores na coluna 'Income' são iguais a 0
zero_income_count = (dataset['Income'] == 0).sum()

# Calcula a porcentagem em relação ao total de valores não NaN
total_non_nan_count = dataset['Income'].count()
percentage_zero_income = (zero_income_count / total_non_nan_count) * 100

print("Percentagem de valores iguais a 0 em relação ao total de valores não NaN na coluna 'Income': {:.2f}%".format(percentage_zero_income))

Percentagem de valores iguais a 0 em relação ao total de valores não NaN na coluna 'Income': 14.70%

In [ ]:
# Conta os valores NaN na coluna 'Income' para linhas em que 'Age' seja inferior a 18
nan_income_under_18_count = dataset[dataset['Age'] < 18]['Income'].isna().sum()

print("Número de valores NaN na coluna 'Income' para linhas com 'Age' inferior a 18:", nan_income_under_18_count)

Número de valores NaN na coluna 'Income' para linhas com 'Age' inferior a 18: 363

In [ ]:
# Filtra o DataFrame para incluir apenas as entradas com 'Income' superior a 0
income_gt_zero = dataset[dataset['Income'] > 0]

# Conta o número de pessoas por idade que têm income superior a 0
count_by_age = income_gt_zero['Age'].value_counts()

print(count_by_age)

22    1173
21    1154
20     977
23     942
19     889
      ...
87       1
11       1
9        1
86       1
4        1
Name: Age, Length: 80, dtype: int64

In [ ]:
# Filtra o DataFrame para incluir apenas as entradas com 'Income' superior a 0 e idade igual a 4
income_gt_zero_age_4 = dataset[(dataset['Income'] > 0) & (dataset['Age'] == 4)]

# Exibe os valores de 'Income'
print(income_gt_zero_age_4['Income'])

14359    3430.0
Name: Income, dtype: float64

In [ ]:
# Filtra o DataFrame para incluir apenas as entradas com 'Age' igual a 18 e 'Income' superior a 0
people_age_18_income_gt_zero = dataset[(dataset['Age'] == 18) & (dataset['Income'] > 0)]

# Conta o número de pessoas que atendem aos critérios
count_people_age_18_income_gt_zero = len(people_age_18_income_gt_zero)

# Exibe o resultado
print("Número de pessoas com 18 anos e Income superior a 0:", count_people_age_18_income_gt_zero)

Número de pessoas com 18 anos e Income superior a 0: 229

In [ ]:
# Filtra o DataFrame para incluir apenas as entradas com 'Age' igual a 17 e 'Income' superior a 0
people_age_17_income_gt_zero = dataset[(dataset['Age'] == 17) & (dataset['Income'] > 0)]

# Conta o número de pessoas que atendem aos critérios
count_people_age_17_income_gt_zero = len(people_age_17_income_gt_zero)

# Exibe o resultado
print("Número de pessoas com 17 anos e Income superior a 0:", count_people_age_17_income_gt_zero)

Número de pessoas com 17 anos e Income superior a 0: 162

In [ ]:
# Filtra o DataFrame para incluir apenas as pessoas com Income superior a 0
income_gt_0 = dataset[dataset['Income'] > 0]

# Agrupa o DataFrame filtrado por idade e calcula a contagem de pessoas
age_counts = income_gt_0['Age'].value_counts().reset_index()
age_counts.columns = ['Age', 'Count']

# Calcula o total de pessoas por idade
total_age_counts = dataset['Age'].value_counts().reset_index()
total_age_counts.columns = ['Age', 'Total Count']

# Mescla as contagens de Income > 0 e o total de pessoas por idade
merged_counts = age_counts.merge(total_age_counts, on='Age', how='outer')

# Preenche os valores NaN com 0 para calcular as percentagens
merged_counts.fillna(0, inplace=True)

# Calcula as percentagens
merged_counts['Percentage Income > 0'] = (merged_counts['Count'] / merged_counts['Total Count']) * 100

# Exibe o resultado
print(merged_counts[['Age', 'Count', 'Total Count', 'Percentage Income > 0']])

    Age   Count  Total Count  Percentage Income > 0
0    22  1173.0         1187              98.820556
1    21  1154.0         1166              98.970840
2    20   977.0          987              98.986829
3    23   942.0          954              98.742138
4    19   889.0          899              98.887653
..  ...     ...          ...                    ...
83    1     0.0          152               0.000000
84    8     0.0          145               0.000000
85   10     0.0          115               0.000000
86   12     0.0          115               0.000000
87    0     0.0           19               0.000000

[88 rows x 4 columns]

In [ ]:
# Filtra o DataFrame para incluir apenas as pessoas com Income superior a 0
income_gt_0 = dataset[dataset['Income'] > 0]

# Agrupa o DataFrame filtrado por idade e calcula a contagem de pessoas
age_counts = income_gt_0['Age'].value_counts().reset_index()
age_counts.columns = ['Age', 'Count']

# Calcula o total de pessoas por idade
total_age_counts = dataset['Age'].value_counts().reset_index()
total_age_counts.columns = ['Age', 'Total Count']

# Mescla as contagens de Income > 0 e o total de pessoas por idade
merged_counts = age_counts.merge(total_age_counts, on='Age', how='outer')

# Preenche os valores NaN com 0 para calcular as percentagens
merged_counts.fillna(0, inplace=True)

# Calcula as percentagens
merged_counts['Percentage Income > 0'] = (merged_counts['Count'] / merged_counts['Total Count']) * 100

# Filtra as idades com percentagens inferiores a 50%
ages_below_50_percent = merged_counts[merged_counts['Percentage Income > 0'] < 50]

# Exibe as idades com percentagens inferiores a 50%
print(ages_below_50_percent[['Age', 'Percentage Income > 0']])

    Age  Percentage Income > 0
56   16               9.278351
61   15               5.325444
70    2               0.938967
71   13               1.694915
72    5               1.111111
73   14               1.492537
76   11               0.793651
77    9               0.675676
79    4               0.574713
80    3               0.000000
81    7               0.000000
82    6               0.000000
83    1               0.000000
84    8               0.000000
85   10               0.000000
86   12               0.000000
87    0               0.000000

In [ ]:
# Filtra o DataFrame para incluir apenas as pessoas com Income superior a 0
income_gt_0 = dataset[dataset['Income'] > 0]

# Agrupa o DataFrame filtrado por idade e calcula a contagem de pessoas
age_counts = income_gt_0['Age'].value_counts().reset_index()
age_counts.columns = ['Age', 'Count']

# Calcula o total de pessoas por idade
total_age_counts = dataset['Age'].value_counts().reset_index()
total_age_counts.columns = ['Age', 'Total Count']

# Mescla as contagens de Income > 0 e o total de pessoas por idade
merged_counts = age_counts.merge(total_age_counts, on='Age', how='outer')

# Preenche os valores NaN com 0 para calcular as percentagens
merged_counts.fillna(0, inplace=True)

# Calcula as percentagens
merged_counts['Percentage Income > 0'] = (merged_counts['Count'] / merged_counts['Total Count']) * 100

# Filtra as idades com percentagens inferiores a 50% e superiores a 10%
ages_between_10_and_50_percent = merged_counts[(merged_counts['Percentage Income > 0'] < 50) & (merged_counts['Percentage Income > 0'] > 10)]

# Exibe as idades com percentagens inferiores a 50% mas superiores a 10%
print(ages_between_10_and_50_percent[['Age', 'Percentage Income > 0']])

Empty DataFrame
Columns: [Age, Percentage Income > 0]
Index: []

In [ ]:
# Filtra o DataFrame para incluir apenas as pessoas com Income superior a 0
income_gt_0 = dataset[dataset['Income'] > 0]

# Agrupa o DataFrame filtrado por idade e calcula a contagem de pessoas
age_counts = income_gt_0['Age'].value_counts().reset_index()
age_counts.columns = ['Age', 'Count']

# Calcula o total de pessoas por idade
total_age_counts = dataset['Age'].value_counts().reset_index()
total_age_counts.columns = ['Age', 'Total Count']

# Mescla as contagens de Income > 0 e o total de pessoas por idade
merged_counts = age_counts.merge(total_age_counts, on='Age', how='outer')

# Calcula as percentagens sem preencher com 0
merged_counts['Percentage Income > 0'] = (merged_counts['Count'] / merged_counts['Total Count']) * 100

# Filtra as idades com percentagens inferiores a 50%
ages_below_50_percent = merged_counts[merged_counts['Percentage Income > 0'] < 50]

# Exibe as idades com percentagens inferiores a 50%
print(ages_below_50_percent[['Age', 'Percentage Income > 0']])

    Age  Percentage Income > 0
56   16               9.278351
61   15               5.325444
70    2               0.938967
71   13               1.694915
72    5               1.111111
73   14               1.492537
76   11               0.793651
77    9               0.675676
79    4               0.574713

In [ ]:
# Filtra o DataFrame para incluir apenas as pessoas com Income superior a 0
income_gt_0 = dataset[dataset['Income'] > 0]

# Agrupa o DataFrame filtrado por idade e calcula a contagem de pessoas
age_counts = income_gt_0['Age'].value_counts().reset_index()
age_counts.columns = ['Age', 'Count']

# Calcula o total de pessoas por idade
total_age_counts = dataset['Age'].value_counts().reset_index()
total_age_counts.columns = ['Age', 'Total Count']

# Mescla as contagens de Income > 0 e o total de pessoas por idade
merged_counts = age_counts.merge(total_age_counts, on='Age', how='outer')

# Adiciona uma coluna com o número de pessoas com valores não NaN no income
merged_counts['Number of People'] = merged_counts['Count']

# Calcula as percentagens sem preencher com 0
merged_counts['Percentage Income > 0'] = (merged_counts['Count'] / merged_counts['Total Count']) * 100

# Filtra as idades com percentagens inferiores a 50%
ages_below_50_percent = merged_counts[merged_counts['Percentage Income > 0'] < 50]

# Exibe as idades com percentagens inferiores a 50% juntamente com o número de pessoas com Income > 0
print(ages_below_50_percent[['Age', 'Percentage Income > 0', 'Number of People']])

    Age  Percentage Income > 0  Number of People
56   16               9.278351              18.0
61   15               5.325444               9.0
70    2               0.938967               2.0
71   13               1.694915               2.0
72    5               1.111111               2.0
73   14               1.492537               2.0
76   11               0.793651               1.0
77    9               0.675676               1.0
79    4               0.574713               1.0